

.contenedor-color img {
    width: 1450px;
    height: 600px;
    position: relative;
    top: 1200px;
    left: 200px;
    border-radius: 50px;
  }
  
  .contenedor-color1 {
    position: relative;
    top: 720px;
    margin-left: 300px;
  }
  
  .contenedor-color1 h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 50px;
    font-weight: 800;
    line-height: 110%;
  }
  
  .contenedor-color1 p {
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 150.5%;
  }
  
  .contenedor-color1 h3 {
    color: #2F2F2F;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    padding: 27px 330px 27px 29px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
  }
  
  .contenedor-color1 h6 {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 600;
    line-height: 145.5%;
    display: inline-flex;
    padding: 19px 45px 20px 45px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: #2F2F2F;
    position: relative;
    right: 150px;
  }
  
  .contenedor-color1 ul {
    display: flex;
  }
  
  .contenedor-color1 ul li {
    list-style: none;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    line-height: 150.5%;
    padding: 15px;
  }
  
  /*Estilos para el contenedor natural*/

.contenedor-natural{
    width: 267px;
  height: 309px;  
  transform: rotate(-15.564deg);
  flex-shrink: 0;
  border-radius: 30px;
  background: #F8F8F8;
  box-shadow: 0px 16px 26px 0px rgba(159, 159, 159, 0.25);
  position: relative;
  bottom: 610px;
  left: 750px;
  }


.contenedor-natural .natural{
  width: 220px;
  height:220px;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 20px;
}

.contenedor-natural h2{
  color: #2F2F2F;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: 10px;
}

.contenedor-natural .corazon{
  width: 13px;
  height: 11px;
  flex-shrink: 0;
  position: relative;
  bottom: 18px;
  left: 15px;
}

.contenedor-natural .barrita-natural{
  width: 71px;
  height: 5px;
  flex-shrink: 0; 
  border-radius: 30px;
  background: #E3E3E3;
  position: relative;
  bottom: 30px;
  left: 40px;
}

  /*Estilos para el contenedor post*/

.contenedor-post{
  width: 271px;
  height: 343px;
  transform: rotate(1.050deg);
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 16px 26px 0px rgba(159, 159, 159, 0.25);
  position: relative;
  bottom: 400px;
  left: 180px;
}

.contenedor-post1{
  width: 235px;
  height: 306px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #DCDCDC;
  background: #FFF;
  position: relative;
  top: 18px;
  margin-left: 15px;
}

.contenedor-post .Star{
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  position: relative;
  top: 35px;
  left: 15px;
}


.contenedor-post1 .titulo-post{
  color: #2F2F2F;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  margin-left: 40px;
}

.contenedor-post1 .circulo-blanco{
  width: 15px;
  height: 15px;
  transform: rotate(-15.564deg);
  flex-shrink: 0;
  margin-left: 15px;
}

.contenedor-post1 .titulo-auto{
  color: #2F2F2F;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  position: relative;
  bottom: 35px;
  margin-left: 40px;
}

.contenedor-post1 .circulo-blanco1{
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  position: relative;
  bottom: 40px;
  margin-left: 15px;
}

.contenedor-post1 .circulo-morado{
  width: 7px;
  height: 7px;
  flex-shrink: 0;
  position: relative;
  bottom: 43px;
  right: 12px;
}

.contenedor-post1 .Remainder{
  color: #2F2F2F;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  position: relative;
  bottom: 75px;
  margin-left: 40px;
}

/*Estilos del contenedor Calendario*/

.contenedor-calendario {
  display: flex;
  position: relative;
  bottom: 45px;
  margin-left: 15px;
}

.contenedor-calendario img{
  width: 25px;
  height: 18px;
  flex-shrink: 0;
  transform: rotate(15deg) ;
}

.contenedor-calendario h2{
  color: #2F2F2F;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal; 
  font-weight: 800;
  line-height: 110%; 
  position: relative;
  bottom: 10px;
}

/*Estilos para el contenedor Mar*/

.contenedor-mar{ 
  width: 202px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #72CCFF;
  background: #E9F7FF;
  position: relative;
  bottom: 50px;
  margin-left: 15px;
}

.contenedor-mar p{
  color: #2F2F2F;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; 
  margin-left: 15px;
}

.contenedor-mar .circulo1{
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  position: relative;
  bottom: 38px;
  margin-left: 150px;

}

.contenedor-mar .check{
  width: 15px;
  height: 12px;
  flex-shrink: 0;
  position: relative;
  right: 20px;
  bottom: 46px;
}

.contenedor-mar1{
  width: 202px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F2F2F2;
  position: relative;
  bottom: 40px;
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
}

.contenedor-mar1 h5{
  color: #2F2F2F;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 16.5px */
  text-align: center;
  
}

/* contenedor colores*/

.contenedor-colores{
  width: 265px;
  height: 272px;
  transform: rotate(-15.564deg);
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 16px 26px 0px rgba(159, 159, 159, 0.25);
  position: relative;
  bottom: 600px;
  left: 820px;
}

.contenedor-colores2{
  width: 235px;
  height: 240px;
  border-radius: 20px;
  border: 1px solid #DCDCDC;
  background: #FFF;
  margin-left: 15px;
  position: relative;
  top: 15px;
}

.contenedor-colores2 h1{
  color: #2F2F2F;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin-left: 30px;
  margin-top: 25px;
}

.contenedor-colores2 .verde{
  width: 88px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 57px;
  background: #CCE9CC;
  position: relative;
  top: 15px;
  margin-left: 10px;
}

.contenedor-colores2 .verde-claro{
  width: 56px;
  height: 9px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9EC39E;
  position: relative;
  top: 12px;
  left: 15px;
}

.contenedor-colores2 .amarillo{
  width: 105px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #FCEDC6;
  position: relative;
  left: 103px;
  bottom: 18px;
}

.contenedor-colores2 .amarillo-claro{
  width: 56px;
  height: 9px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #CFC29F;
  position: relative;
  top: 12px;
  left: 22px;
}

.contenedor-colores2 .amarillo1{
  width: 39px;
  height: 33px;
  border-radius: 24px;
  background: #FCEDC6;
  margin-left: 15px;
}

.contenedor-colores2 .amarillo-claro1{
  width: 16px;
  height: 9px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #CFC29F;
  margin-left: 12px;
  position: relative;
  top: 12px;
}

.contenedor-colores2 .rosa{
  width: 73px;
  height: 33px;
  border-radius: 24px;
  background: #FFD6F3;
  position: relative;
  left: 60px;
  bottom: 35px;
}

.contenedor-colores2 .rosa-claro{
  width: 38px;
  height: 9px;
  border-radius: 30px;
  background: #E2A5D0;
  position: relative;
  top: 12px;
  margin-left: 15px;
}

.contenedor-colores2 .verde1{
  width: 67px;
  height: 33px;
  border-radius: 24px;
  background: #CCE9CC;
  margin-left:145px;
  position: relative;
  bottom: 68px;
}

.contenedor-colores2 .verde-claro1{
  width: 41px;
  height: 9px;
  border-radius: 30px;
  background: #9EC39E;
  position: relative;
  top: 12px;
  margin-left: 15px;
}

.contenedor-colores2 .verde2{
  width: 88px;
  height: 33px;
  border-radius: 24px;
  background: #CCE9CC;
  position: relative;
  bottom: 55px;
  margin-left: 15px;
}

.contenedor-colores2 .verde-claro2{
  width: 64px;
  height: 9px;
  border-radius: 30px;
  background: #9EC39E;
  position: relative;
  top: 12px;
  margin-left: 15px;
}

.contenedor-colores2 .rosa1{
  width: 105px;
  height: 33px;
  border-radius: 24px;
  background: #FFD6F3;
  position: relative;
  bottom: 85px;
  margin-left: 110px;
}

.contenedor-colores2 .rosa-claro1{
  width: 80px;
  height: 9px; 
  border-radius: 30px;
  background: #E2A5D0;
  position: relative;
  top: 12px;
  margin-left: 15px;
}


.contenedor-links{
  width: 271px;
  height: 203px;
  transform: rotate(-1.564deg);
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 16px 26px 0px rgba(159, 159, 159, 0.25);
  position: relative;
  bottom: 380px;
  left: 150px;
}

.contenedor-links1{
  width: 235px;
  height: 159px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F0F0F0;
  position: relative;
  left: 15px;
  top: 23px;
}

.contenedor-links1 h1{
  color: #5956E9;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  position: relative;
  top: 20px;
  left: 15px;
}

.contenedor-links1 .link-1{
  width: 250px;
  height: 80px;
  transform: rotate(14deg);
  flex-shrink: 0;
}

.contenedor-links1 .link-2{
  width: 250px;
  height: 80px;
  transform: rotate(14deg);
  flex-shrink: 0;
  position: relative;
  bottom: 30px;
}